<% provide(:title, 'Home') %>

<%= render 'layouts/header' %>

<main>
  <div class="main-inner">
    <p class="menu-label">Menu</p>
    <div class="menu-container">
      <div class="button">
        <div class="icon"><%= image_tag 'books-list-icon.png', alt: 'books-list-icon' %></div>
        <div class="label"><%= link_to 'Books List', books_path, class: 'link' %></div>
      </div>
      <div class="button">
        <div class="icon"><%= image_tag 'book-search-icon.png', alt: 'book-search-icon' %></div>
        <div class="label"><%= link_to 'Book Search', search_path, class: 'link' %></div>
      </div>
      <div class="button">
        <div class="icon"><%= image_tag 'book-add-icon.png', alt: 'book-add-icon' %></div>
        <div class="label"><%= link_to 'Book Add', new_book_path, class: 'link' %></div>
      </div>
    </div>
    
    <p class="collection-of-books">Current Collection of Books：<%= @books_count %> books</p>
  </div>
</main>