<% provide(:title, 'User Profile')  %>

<%= render 'layouts/header' %>

<main>
  <div class="main-inner">
    <div class="profile-form">
      <header class="profile-form-title">User profile during sign-in</header>

      <%= form_for(@current_user) do |f| %>
        <%= f.label :name, class: "profile-label" %>
        <%= f.text_field :name, class: "profile-input-box" %>

        <%= f.label :email, class: "profile-label" %>
        <%= f.email_field :email, class: "profile-input-box" %>
      <% end %>
    </div>
  </div>
</main>


