<% provide(:title, 'Book-Add') %>
    
<%= render 'layouts/header' %>

<main>
  <div class="main-inner">
    <div class="book-add-form">
      <header class="book-add-form-title">Book Add</header>
      
        <%= form_for(@book) do |f| %>
          <%= f.label :title, class: "book-add-form-label" %>
          <%= f.text_field :title, class: "book-add-form-input-box" %>

          <%= f.label :publisher, class: "book-add-form-label" %>
          <%= f.text_field :publisher, class: "book-add-form-input-box" %>

          <%= f.label :genre, class: "book-add-form-label" %>
          <%= f.select :genre, [['専門書', '専門書'], ['実用書', '実用書'], ['コミック', 'コミック']],  include_blank: 'Please select.' %>

          <%= f.label :image, class: "book-add-form-label" %>
          <%= f.file_field :image, class: 'file-select' %>

          <%= f.submit "Registration", class: "book-add-form-button" %>
      <% end %>
    </div>
  </div>  
</main>
