<% provide(:title, 'Show') %>

<%= render 'layouts/header' %>

<main>
  <div class="main-inner">
    <%= form_for(@book) do |f| %>
      <header class="book-show-form-title">Book Show</header>

      <%= f.label :title, class: "book-show-form-label" %>
      <%= f.text_field :title, class: "book-show-form-input-box" %>

      <%= f.label :publisher, class: "book-show-form-label" %>
      <%= f.text_field :publisher, class: "book-show-form-input-box" %>

      <%= f.label :genre, class: "book-show-form-label" %>
      <%= f.text_field :genre, class: "book-show-form-input-box" %>

      <%= f.label :image, class: "book-show-form-label" %>
      <%= image_tag @book.image.url, class: 'img' %>

      <div class="book-show-button-container">
        <%= link_to 'Edit', edit_book_path, class: 'edit-button' %>
        <%= link_to 'Destroy', book_path, method: :delete, class: 'destroy-button' %>      
      </div>
    <% end %>
  </div>
</main>
